{% extends "base.html" %}

{% block title %}Blogs's List{% endblock title %}

{% block body %}
    <br>
    <h1> &ensp; This is Blog's List.. </h1>
    <br>

    

    {% for  blog in blog_list %}
    <div class="card" >
        
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">
            <ul> 
          
                
                <li> Date : {{blog.date}} </li> 
                <br>
             </ul>
          </p>
          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
      </div>
    {% endfor %}
{%endblock body%}